{% extends 'pizzas/base.html' %}

<!--- -->
{% comment %} 'object' below refers to database record for recipe id that is passed from the view {% endcomment %}

{% block content %} 
    <h1>Recipes # {{ object.id }}</h1>
    <div class="card my-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ object.title }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Chef: {{ object.author }}</h6>
          <p class="card-text">Description: {{ object.description}}</p>
          <p class="card-text">Directions: {{ object.directions}}</p><br>
          <h6 class="card-text">Rating: {{ object.current_rating }}</h6>
          <h6 class="card-text">Calories: {{ object.calories }}</h6>
          
          <h6 class="card-subtitle mb-2 text-body-secondary">Date Posted: {{ object.updated_at|date:"F d, Y"}}</h6>
          {% comment %} <a class="btn btn-outline-info" href="{% url 'recipe_text' object.id %}">Print</a> {% endcomment %}
          {% comment %} <a class="btn btn-outline-info" href="{% url 'rating-create' object.id %}">Rate Recipe</a> {% endcomment %}
        </div>
    </div>
     {% comment %} Only display if authenticated users in the author or a member of the 'staff'  {% endcomment %}
     {% if object.author == user or user.is_staff %}
    <div class="col-4">
      <a class="btn btn-outline-info" href="{% url 'pizzas-update' object.id %}">Update</a>
      <a class="btn btn-outline-danger" href="{% url 'pizzas-delete' object.id %}">Delete</a>
    </div>
    {% endif %}
{% endblock content %}   